@model NewsListingModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    var news = Model.News.ToList();
}
<div class="jumbotron vertical-center" style="">
    <img style="max-width:800px; margin-top:40px; margin-left: 0;"
         class="img-responsive; col-lg-offset-3" src="~/images/logo2.png" )>
    <h3 class="text-center"><em>The home of the underground community!</em></h3>
</div>



@if (news.Count() >= 4)
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="@(news[0].ImageUrl)" alt="News" class="img-responsive" height="800" width="1200" />
                <div class="carousel-caption" role="option">
                    <p style="background-color:black">
                        @(news[0].Title)
                        <a class="btn btn-success btn-sm" href="@($"/articles/details/{news[0].Id}")">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="@(news[1].ImageUrl)" alt="News" class="img-responsive" height="800" width="1200" />
                <div class="carousel-caption" role="option">
                    <p style="background-color:black">
                        @(news[1].Title)
                        <a class="btn btn-success  btn-sm" href="@($"/articles/details/{news[1].Id}")">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="@(news[2].ImageUrl)" alt="News" class="img-responsive" height="800" width="1200" />
                <div class="carousel-caption" role="option">
                    <p style="background-color:black">
                        @(news[2].Title)
                        <a class="btn btn-success  btn-sm" href="@($"/articles/details/{news[2].Id}")">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="@(news[3].ImageUrl)" alt="News" class="img-responsive" height="800" width="1200" />
                <div class="carousel-caption" role="option">
                    <p style="background-color:black">
                        @(news[3].Title)
                        <a class="btn btn-success  btn-sm" href="@($"/articles/details/{news[3].Id}")">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>


        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="jumbotron">
        <h2>News</h2>
        <ul class="list-group">
            @foreach (var article in news)
            {

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill" style="background-color: orangered">@article.ArticleType</span>
                    <span class="badge badge-primary badge-pill">@article.PublishedDate.ToShortDateString()</span>
                    <a href="@($"/articles/details/{article.Id}")"><h5>@article.Title</h5></a>
                </li>
            }
        </ul>
    </div>
}

